* {
  box-sizing: border-box;
}

:root {
  --header-width: calc(80%);
  position: relative;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--header-width);
  gap: 1rem;
}

p.insult-text {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-size: 32px;
  margin: 0;
}

.info-text,
label,
button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.info-text.countdown {
  font-size: 2rem;
  font-weight: 700;
  opacity: 80%;
}

label {
  font-weight: 500;
  font-style: italic;
}

.header {
  display: flex;
  justify-content: center;
  width: var(--header-width);
  opacity: 80%;
}

.header > img {
  min-width: 300px;
}

.insult-card,
.info,
div.flip {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 2rem;
  gap: 2rem;
  width: var(--header-width);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.info-text {
  text-align: center;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.insult-button {
  padding: 10px 30px;
  margin-top: 6px;
  font-size: 1em;
  background-color: blueviolet;
  color: ghostwhite;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.insult-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.insult-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.non-apology {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: right;
  margin: 0;
}

.a-hole {
  font-family: "Nanum Pen Script", serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
}

div.flip {
  width: var(--header-width);
  transition: all 0.5s;
}

div.flip.flipped {
  transform: rotateY(180deg);
}

p.info-text.flipped {
  transform: rotateY(180deg);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: black;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  gap: 1rem;
}

.footer > p {
  margin: 0;
  font-size: 12px;
}

.footer-text > a {
  color: rgb(79, 2, 186);
  text-decoration: underline;
  margin: 0;
}

.footer-text {
  margin: 0;
}
