* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
}

.insult-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid black;
  max-width: calc(70);
}

.insult-button {
  padding: 10px 30px;
  margin-top: 6px;
  font-size: 1em;
  background-color: blueviolet;
  color: ghostwhite;
  border: none;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.insult-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.insult-button:hover {
  color: blueviolet;
  background-color: ghostwhite;
}

.flip {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  color: brown;
  transition: transform 0.5s;
}

.flip.flipped {
  color: aqua;
  transform: rotateY(180deg);
}
